.container {
  width:50%;
  margin:auto;
  text-align:center;
}
.submit-button {
  border-style:solid;
  border-color:black;
  height:50px;
  width:150px;
  background-color:rgba(0, 0, 0, 0.2);
  transition-duration: 0.2s;
  color:black;
}
.submit-button:hover {
  background-color:rgba(0, 0, 0, 1);
  color:white;
  border-color:white;
}
.main-picture {
  border-radius:15px;
}
.disclaimer {
  font-weight:bold;
}
.searchText {
  height:25px;
  width:150px;
  border-style:none;
  background-color:rgba(0, 0, 0, 0.5);
  border-radius:5px 0 0px 5px;
  transition-duration: 1s;
}
.searchText:focus {
  width:500px;
}
.searchButton {
  height:27px;
  border-style:none;
  background-color:rgba(0, 0, 0, 0.3);
  border-radius:0px 5px 5px 0px;
  margin-left:-4px;
}
